{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/poem.css' %}">
  <div class="container">
    <div class="poem">
    <h1>{{ poem.poem_title }}</h1>
    <p>النوع: {{ poem.poem_style }}</p>
    <p>الشاعر: {{ poem.poet_name }}</p>
    <p>{{ poem.poem_text }}</p>
  </div>

    <!-- Comment Section -->
    <h2>Comments</h2>
    <div>
      {% for comment in poem.comments.all %}
        <div class="comment">
          <p><strong>{{ comment.user.username }}</strong></p>
          <p>{{ comment.text }}</p>
          <p>{{ comment.created_at }}</p>
          {% if comment.user == request.user %}
            <form method="post" action="{% url 'delete_comment' comment_id=comment.comment_id %}">
              {% csrf_token %}
              <input type="submit" value="Delete">
            </form>
          {% endif %}
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    </div>

    <!-- Add Comment Form -->
    <h3>Add a Comment</h3>
    <form method="post" action="{% url 'add_comment' poem_id=poem.poem_id %}">
      {% csrf_token %}
      <textarea name="text" rows="4" cols="50"></textarea><br>
      <input type="submit" value="Submit" class="btn btn-dark">
    </form>
  </div>
{% endblock %}
