{% extends 'base.html' %}

 {% block content %}
 <form id="passwordForm" action="/postsignUp/" method="post">
    {% csrf_token %}
    <br/>
      <h1>Sign Up</h1>
      
    <label for="username">Username</label>
    <input type="name" id="Username" name="name" placeholder="Your Name"><br><br>
    <!-- Email: -->
    <label for="Email" >Email</label>
    <input type="email" id="Email" name="email" placeholder="Your Email Id"><br><br>
    <!-- Password: -->
     <!-- Password field -->
     <label for="Password">Password</label>
     <input type="password" id="Password" name="pass" placeholder="Password" ><br><br>

     <!-- Confirm Password field -->
     <label for="confirm_password">Confirm Password</label>
     <input type="password" id="confirm_password" name="pass-repeat" placeholder="Repeat Password"><br><br>

     <!-- Error message -->
     <p id="passwordError" class="error"></p>
    

    <input type="submit" value="SignUp"><br><br>
 
</form>
<script>
  document.getElementById("passwordForm").onsubmit = function () {
      var password = document.getElementById("Password").value;
      var confirmPassword = document.getElementById("confirm_password").value;
      var passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      var thereturn = true;  // Default to true
    

      // Check if the password matches the pattern
      if (!passwordPattern.test(password)) {
          document.getElementById("passwordError").innerHTML = "password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters";
          thereturn = false; // Prevent form submission
          return false;  // Stop script execution
      } else {
          document.getElementById("passwordError").innerHTML = "";
      }

      // Check if the passwords match
      if (password !== confirmPassword) {
          document.getElementById("passwordError").innerHTML = "Passwords do not match";
          thereturn = false; // Prevent form submission
      } else {
          document.getElementById("passwordError").innerHTML = "";
      }

      

      return thereturn;
  };
</script>

{% endblock %}

